{% extends 'layouts/base.html.twig' %}

{% block title "Modification du mot de passe | TPLV"  %}
{% block body %}
        
    <h1 class="my-5 h2 text-center text-primary">Modifier son mot de passe</h1>

    <div class='col-md-10 mx-auto'>                   
        {{ form_start(form)}}

        {{ form_rest(form)}}
        
    <button type="submit" class="my-5 btn-lg btn btn-outline-primary btn-block">Valider</button>
    
    </div>

    
    
    {{ form_end(form)}}

{% endblock %}