{% extends 'layouts/base.html.twig' %}

{% block title "Édition compte | TPLV"  %}
{% block body %}

{% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<h1 class='h2 my-5 text-center text-primary'>Édition de vos informations</h1>
    <div class='col-md-10 mx-auto'>   

        {{ form_start(registrationForm) }}

            {% set registration = false %}

            {% include 'layouts/partials/_registrationForm.html.twig' %}
                
        {{ form_end(registrationForm) }}
          
    </div>

<script>
        function checkRadio0(id) {
        document.getElementById(id).checked = true;
        }

        function checkRadio1(id) {
        document.getElementById(id).checked = true;
        }
</script>
{% endblock %}