{% extends 'layouts/base.html.twig' %}

{% block title 'Connexion | TPLV' %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="my-5 h2 text-center text-primary">Connexion</h1>
    <label class="h5" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="jean.castex@exemple.fr" required autofocus>
    <label class="mt-4 h5" for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox mt-3 mb-5">
            <label>
                <input type="checkbox" name="_remember_me"> Se rappeller de moi
            </label>
        </div>
   

    <div class="text-center"><button class="mt-5 col-md-6 btn btn-lg btn-outline-primary themeBackgroundColor" type="submit">Valider</button></div>
</form>

{% endblock %}
