<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="" type="image/png" />
        <link rel="icon" href="https://www.gouvernement.fr/sites/all/themes/custom/gouvernement/img/favicon/marianne.svg" />
        <link rel="icon" href="https://www.gouvernement.fr/sites/all/themes/custom/gouvernement/img/favicon/favicon-32.png" type="image/png" sizes="32x32" />
        <link rel="icon" href="https://www.gouvernement.fr/sites/all/themes/custom/gouvernement/img/favicon/favicon-64.png" type="image/png" sizes="64x64" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body>
        {{ include('layouts/partials/_flash_messages.html.twig') }}

        {{ include('layouts/partials/_nav.html.twig') }}

        <main role="main" class="container">
        {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
