<nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
<div class="container">
  <a class="d-flex align-items-center themeTitle text-decoration-none" href="{{ path('app_info_home') }}">
    <img class="navbar-brand bannerImg" src="https://www.legifrance.gouv.fr/contenu/logo-rf" alt="République Française">
     <p>#TousPourLesVaccins</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      {% if app.user %}
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();">Se déconnecter</a>
      </li>
      <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" class="d-none">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
      </form>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
        </li>
    {% endif %}
    </ul>
  </div>
</div>
</nav>