@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'marianne';
    src: local('marianne'),
        url('./fonts/marianne/marianne-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'),
        url('./fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

$primary: #000091;

$theme-colors: (
  primary: $primary
);

@import "bootstrap";

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'marianne', 'Roboto-Bold', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top:auto;
    padding-top: 3%;
    border-top: 3px solid #000091;
    background-color: #ececec;
}

.themeTitle {
    color: $primary;
    font-weight: 800;
    font-family: 'Roboto-Bold', Arial;
    font-size: min(calc(70% + 1.75vw), 300%);
}


.bannerImg {
    margin-right: 10%;
}

#mapid { 
    height: 180px; 
}

.box
{
    color: white; 
    font-size: 200%; 
    padding:2% 5%;

   .boxBigText
   {
        font-size: calc(80% + 1vw);
        margin-right:50%;
        font-weight: 900;

        .boxBigUserText { 
            margin-right:25%; 
        }
   }

   .boxBigUserText {
    font-size: calc(80% + 1vw);
    margin-right:25%;
    font-weight: 900;
   }

    .boxText {
        font-size: calc(60% + 1vw);
        font-weight: 700;
    }
    
    .boxChevron {
        font-size: calc(70% + 1.5vw);
        display: flex;
        flex-direction: row-reverse;
    }
}

.box1 { 
    background: linear-gradient(to left, rgba(55, 55, 139, 0.6), rgb(14, 14, 121)), center url('../images/covid.png');
    transition: all .5s;

    &:hover {
        background: rgb(14, 14, 121); 
        transition: none;
    }
}

.box2 {
    background: linear-gradient(to left, rgba(139, 139, 139, 0.6), rgb(106, 106, 106)), right repeat-x url('../images/newspaper.png');
    transition: all 2s;

    &:hover {
        background: rgb(106, 106, 106);
        transition: none;
    }
}

.box3 {
    background: linear-gradient(to left, rgba(1, 37, 69, 0.6), rgb(1, 37, 69)), center no-repeat url('../images/vaccinSpeed.png');
    // https://www.gouvernement.fr/sites/default/files/homepage/bandeau_ovq_site_adapte.jpg
    transition: all .9s ;

    &:hover {
        background:rgb(1, 37, 69);
        transition: none;
    }
}

#backToTop {
    display: none;
}

.form-control::placeholder { /* available on Chrome, Firefox, Opera, Safari 10.1+ */
    color: #959595;
    opacity: 1; /* Firefox */
}

.labelDisplayNone
{
    label
    {
        display: none;
    }
}

.cursorPointer
{
    cursor: pointer;
}


.alert
{
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 0;
    border: none;
    margin: 0;

    &.alert-success {
        background-color: green;
    }

    &.alert-error {
        background-color: red;
    }

    &.alert-info {
        background-color: $primary;
    } 
}

// --- modal ---

.icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #ffffff;
  }
  .icon-box i {
    color: #ffffff;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
  }


// account->show button 

.page-container {
    position: relative;
    min-height: 60vh;
    }
    
.content-wrap {
    padding-bottom: 5rem;
}

.btnFooter {
    width:100%;
    position: absolute;
    bottom: 0;
}
    
// --- counter ---

.counter {
    background-color:#f5f5f5;
}

.count-title {
    font-size: 250%;
}

// --- bulleted list --- 

.large{
    counter-reset: list-counter;
    list-style: none;
}

.large li{
    margin: 1.5em 0;
    line-height: 1em
}

.large li:before{
    content: counter(list-counter);
    counter-increment: list-counter;
    color:#666666;
    font: bold;
    font-size: 2em;
    margin-right: .5em;
}

// --- media querries ---
@media screen and (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

@media (max-width: 1024px)
{
    .bannerImg {
        height: 100px;
        width: 100px;
    }
    
    @media (max-width: 720px)
    {
        .bannerImg {
            height: 70px;
            width: 70px;
        }


        @media (max-width: 458px)
        {
            .bannerImg {
                height: 65px;
                width: 65px;
            }

            .line::before {
                content: "\A";
                white-space: pre;
            }
        }
    }
}
@media (max-width: 500px)
{
    .showAll {
        display: none;
    }
}
@media all and (min-width: 500px)
{
    .showShort {
        display: none;
    }
}

// animation \\

:before,
:after {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

// --- chevron's animation ---

.box:hover .boxChevron{
    animation: chevronX 1s ease-in-out infinite;
    font-weight: 700;
    line-height: 1;
}

@keyframes chevronX {
    0% {  
        transform: translateX(0);
    }

    50% {
        transform: translateX( 1em);
    }
}

// --- radio's animation ---

.animation:hover {
    animation: checkboxY 1.5s ease-in-out;
    font-weight: 700;
    line-height: 1;
}

.animation {
    animation-play-state: paused;
}

@keyframes checkboxY {
    0% {  
        transform: translateY(0);
    }

    20% {  
        transform: translateY(-1em);
    }

    40% {  
        transform: translateY(0.5em);
    }
    
   60% {
        transform: translateY(-0.25em);
    }

    80% {  
        transform: translateY(0);
    }
}
