{% extends 'layouts/base.html.twig' %}

{% block title 'Bienvenue sur TPLV ! - Accueil' %}

{% block body %}
       
        {% if app.user %}
        <a href="{{ path('app_info_map') }}" class="text-decoration-none">
        {% else %}  
        <a href="{{ path('app_info_registrationInformation') }}" class="text-decoration-none">
        {% endif %}
        <div class="mt-5 mb-5 box box1">
            <span class="border border-white rounded-pill h6 py-2 px-3">Covid-19</span>
            {% if app.user %}
            <p class="mt-2 boxBigUserText">Consulter les centres de vaccination proche de chez moi</p>
            {% else %}
            <p class="mt-2 boxBigText">Je suis volontaire pour la vaccination</p>
            {% endif %}
            <p class="material-icons d-flex align-items-center boxChevron animation">keyboard_arrow_right</p>
        </div>
        </a>
        <a href="#" class="text-decoration-none">
        <div class="mt-5 mb-5 box box2">
            <span class="border border-white rounded-pill h6 py-2 px-3">Info</span>
            <div class="d-flex justify-content-between">
                <p class="mt-2 boxText">Actualités lièe au covid</p>
                <p class="material-icons d-flex align-items-center boxChevron animation">keyboard_arrow_right</p>
            </div>
        </div>
        </a>

        <a href="{{ path('app_info_vaccineInformation') }}" class="text-decoration-none">
        <div class="mt-5 mb-5 box box3">
            <span class="border border-white rounded-pill h6 py-2 px-3">Covid-19</span>
            <div class="d-flex justify-content-between">
                <p class="mt-2 boxText">Le point sur les vaccins</p>
                <p class="material-icons d-flex align-items-center boxChevron animation">keyboard_arrow_right</p>
            </div>
        </div>
        </a>

{% endblock %}
