{% extends 'layouts/base.html.twig' %}

{% block title 'Politique de confidentialité | TPLV' %}

{% block body %}

<h1 class="mt-5 mb-3 h2 text-center text-primary">Politique de confidentialité</h1>

<h3 class="mt-5 h3">Introduction</h3>

<p>Devant le d&eacute;veloppement des nouveaux outils de communication, il est n&eacute;cessaire de porter une attention particuli&egrave;re &agrave; la protection de la vie priv&eacute;e. C&rsquo;est pourquoi, nous nous engageons &agrave; respecter la confidentialit&eacute; des renseignements personnels que nous collectons.</p>

<h3 class="mt-4 h3">D&eacute;finitions</h3>

<ul>
<li>L'&Eacute;diteur : La personne, physique ou morale, qui &eacute;dite les services de communication au public en ligne.</li>
<li>Le Site : L'ensemble des sites, pages Internet et services en ligne propos&eacute;s par l'&Eacute;diteur.</li>
<li>L'Utilisateur : La personne utilisant le Site et les services.</li>
</ul>

<p class="mt-5 h4"> 1 - Nature des donn&eacute;es collect&eacute;es</p>
<p class="mb-0 font-weight-bold">Dans le cadre de l'utilisation de Sites, l'&Eacute;diteur est susceptible de collecter les cat&eacute;gories de donn&eacute;es suivantes concernant ses Utilisateurs : </p>
<p>Donn&eacute;es d'&eacute;tat-civil, d'identit&eacute;, d'identification... Donn&eacute;es relatives &agrave; la vie personnelle (comorbidit&eacute;, professionnel de sant&eacute;)</p>

<p class="mt-4 h4"> 2 - Communication des donn&eacute;es personnelles &agrave; des tiers</p>
<p class="mb-0 font-weight-bold">Pas de communication &agrave; des tiers</p>
<p >Vos donn&eacute;es ne font l'objet d'aucune communication &agrave; des tiers. Vous &ecirc;tes toutefois inform&eacute;s qu'elles pourront &ecirc;tre divulgu&eacute;es en application d'une loi, d'un r&egrave;glement ou en vertu d'une d&eacute;cision d'une autorit&eacute; r&eacute;glementaire ou judiciaire comp&eacute;tente.</p>

<p class="mt-4 h4"> 3 - Agr&eacute;gation des donn&eacute;es</p>
<p class="mb-0 font-weight-bold">Agr&eacute;gation avec des donn&eacute;es non personnelles</p>
<p>Nous pouvons publier, divulguer et utiliser les informations agr&eacute;g&eacute;es (informations relatives &agrave; tous nos Utilisateurs ou &agrave; des groupes ou cat&eacute;gories sp&eacute;cifiques d'Utilisateurs que nous combinons de mani&egrave;re &agrave; ce qu'un Utilisateur individuel ne puisse plus &ecirc;tre identifi&eacute;) et les informations non personnelles &agrave; des fins de profilage d&eacute;mographique, d&rsquo;&eacute;tude de sant&eacute; et d&rsquo;&eacute;laboration de statistiques.</p>

<p class="mt-4 h4"> 4 - Collecte des donn&eacute;es d'identit&eacute;</p>
<p class="mb-0 font-weight-bold">Consultation libre</p>
<p>La consultation du Site ne n&eacute;cessite pas d'inscription ni d'identification pr&eacute;alable. Elle peut s'effectuer sans que vous ne communiquiez de donn&eacute;es nominatives vous concernant (nom, pr&eacute;nom, adresse, etc). Nous ne proc&eacute;dons &agrave; aucun enregistrement de donn&eacute;es nominatives pour la simple consultation du Site.</p>

<p class="mt-4 h4">5 - Collecte des donn&eacute;es d'identification</p> 
<p class="mb-0 font-weight-bold">Utilisation de l'identifiant de l&rsquo;utilisateur uniquement pour l&rsquo;acc&egrave;s aux services</p>
<p>Nous utilisons vos identifiants &eacute;lectroniques seulement pour et pendant l'ex&eacute;cution du contrat</p>

<p class="mt-4 h4">6 - Collecte des donn&eacute;es du terminal</p>
<p class="mb-0 font-weight-bold">Aucune collecte des donn&eacute;es techniques</p>
<p>Nous ne collectons et ne conservons aucune donn&eacute;e technique de votre appareil (adresse IP, fournisseur d'acc&egrave;s &agrave; Internet...)</p>

<p class="mt-4 h4">7 - Cookies</p>
<p class="mb-0 font-weight-bold">Dur&eacute;e de conservation des cookies</p>
    <p>Conform&eacute;ment aux recommandations de la CNIL, la dur&eacute;e maximale de conservation des cookies est de 13 mois au maximum apr&egrave;s leur premier d&eacute;p&ocirc;t dans le terminal de l'Utilisateur, tout comme la dur&eacute;e de la validit&eacute; du consentement de l&rsquo;Utilisateur &agrave; l&rsquo;utilisation de ces cookies. La dur&eacute;e de vie des cookies n&rsquo;est pas prolong&eacute;e &agrave; chaque visite. Le consentement de l&rsquo;Utilisateur devra donc &ecirc;tre renouvel&eacute; &agrave; l'issue de ce d&eacute;lai.</p>
<p class="mb-0 font-weight-bold">Finalit&eacute; cookies</p>
    <p>Les cookies peuvent &ecirc;tre utilis&eacute;s pour des fins statistiques notamment pour optimiser les services rendus &agrave; l'Utilisateur, &agrave; partir du traitement des informations concernant la fr&eacute;quence d'acc&egrave;s, la personnalisation des pages ainsi que les op&eacute;rations r&eacute;alis&eacute;es et les informations consult&eacute;es. Vous &ecirc;tes inform&eacute; que l'&Eacute;diteur est susceptible de d&eacute;poser des cookies sur votre terminal. Le cookie enregistre des informations relatives &agrave; la navigation sur le service (les pages que vous avez consult&eacute;es, la date et l'heure de la consultation...) que nous pourrons lire lors de vos visites ult&eacute;rieures.</p>
<p class="mb-0 font-weight-bold">Opt-in pour le d&eacute;p&ocirc;t de cookies</p>
    <p>Nous utilisons seulement les cookies si vous choisissez la fonctionnalit&eacute; se souvenir de moi et pour des raisons de s&eacute;curit&eacute;. Si nous devions en utiliser plus &agrave; l&rsquo;avenir, vous en seriez inform&eacute; pr&eacute;alablement et auriez la possibilit&eacute; de d&eacute;sactiver ces cookies.</p>

<p class="mt-4 h4">8 - D&eacute;lai de conservation des donn&eacute;es personnelles et d'anonymisation</p>
<p class="mb-0 font-weight-bold">Conservation des donn&eacute;es pendant la dur&eacute;e de la relation contractuelle</p>
    <p>Conform&eacute;ment &agrave; l'article 6-5&deg; de la loi n&deg;78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s, les donn&eacute;es &agrave; caract&egrave;re personnel faisant l'objet d'un traitement ne sont pas conserv&eacute;es au-del&agrave; du temps n&eacute;cessaire &agrave; l'ex&eacute;cution des obligations d&eacute;finies lors de la conclusion du contrat ou de la dur&eacute;e pr&eacute;d&eacute;finie de la relation contractuelle.</p>
<p class="mb-0 font-weight-bold">Conservation des donn&eacute;es anonymis&eacute;es au del&agrave; de la relation contractuelle / apr&egrave;s la suppression du compte</p>
    <p>Nous conservons les donn&eacute;es personnelles pour la dur&eacute;e strictement n&eacute;cessaire &agrave; la r&eacute;alisation des finalit&eacute;s d&eacute;crites dans les pr&eacute;sentes Politiques de confidentialit&eacute;. Au-del&agrave; de cette dur&eacute;e, elles seront anonymis&eacute;es et conserv&eacute;es &agrave; des fins exclusivement statistiques et ne donneront lieu &agrave; aucune exploitation, de quelque nature que ce soit.</p>
<p class="mb-0 font-weight-bold">Suppression des donn&eacute;es apr&egrave;s suppression du compte</p>
    <p>Des moyens de purge de donn&eacute;es sont mis en place afin d'en pr&eacute;voir la suppression effective d&egrave;s lors que la dur&eacute;e de conservation ou d'archivage n&eacute;cessaire &agrave; l'accomplissement des finalit&eacute;s d&eacute;termin&eacute;es ou impos&eacute;es est atteinte. Conform&eacute;ment &agrave; la loi n&deg;78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s, vous disposez par ailleurs d'un droit de suppression sur vos donn&eacute;es que vous pouvez exercer &agrave; tout moment en prenant contact avec l'&Eacute;diteur via <a href="mailto:vosdonnees@touspourlesvaccins.gouv.fr?subject=Demande%20supression%20de%20compte&body=Bonjour,<br/>%0D%0A%0D%0A<br/>Je%20sousigné%20NOM%20PRENOM,%20souhaite%20que%20vous%20supprimiez%20le%20compte%20ADRESSE%20EMAIL.<br/>%0D%0A%0D%0A<br/>Cordialment." class="text-primary">vosdonnees@touspourlesvaccins.gouv.fr.</a></p>
<p class="mb-0 font-weight-bold">Suppression des donn&eacute;es apr&egrave;s 3 ans d'inactivit&eacute;</p>
    <p>Pour des raisons de s&eacute;curit&eacute;, si vous ne vous &ecirc;tes pas authentifi&eacute; sur le Site pendant une p&eacute;riode de trois ans, vous recevrez un courrier &eacute;lectronique (email) vous invitant &agrave; vous connecter dans les plus brefs d&eacute;lais, sans quoi vos donn&eacute;es seront supprim&eacute;es de nos bases de donn&eacute;es.</p>

<p class="mt-4 h4">9 - Suppression du compte</p>

<p class="mb-0 font-weight-bold">Suppression du compte &agrave; la demande</p>
    <p>L'Utilisateur a la possibilit&eacute; de supprimer son Compte &agrave; tout moment, par simple demande &agrave; l'&Eacute;diteur OU par le menu de suppression de Compte pr&eacute;sent dans les param&egrave;tres du Compte le cas &eacute;ch&eacute;ant.</p>
<p class="mb-0 font-weight-bold">Suppression du compte en cas de violation de la Politique de Confidentialit&eacute;</p>
    <p>En cas de violation d'une ou de plusieurs dispositions de la Politique de Confidentialit&eacute; ou de tout autre document incorpor&eacute; aux pr&eacute;sentes par r&eacute;f&eacute;rence, l'&Eacute;diteur se r&eacute;serve le droit de mettre fin ou restreindre sans aucun avertissement pr&eacute;alable et &agrave; sa seule discr&eacute;tion, votre usage et acc&egrave;s aux services, &agrave; votre compte et &agrave; tous les Sites</p>

<p class="mt-4 h4">10 - Indications en cas de faille de s&eacute;curit&eacute; d&eacute;cel&eacute;e par l'&Eacute;diteur</p>
<p class="mb-0 font-weight-bold">Information de l'Utilisateur en cas de faille de s&eacute;curit&eacute;</p>
    <p>Nous nous engageons &agrave; mettre en &#339;uvre toutes les mesures techniques et organisationnelles appropri&eacute;es afin de garantir un niveau de s&eacute;curit&eacute; adapt&eacute; au regard des risques d'acc&egrave;s accidentels, non autoris&eacute;s ou ill&eacute;gaux, de divulgation, d'alt&eacute;ration, de perte ou encore de destruction des donn&eacute;es personnelles vous concernant. Dans l'&eacute;ventualit&eacute; o&ugrave; nous prendrions connaissance d'un acc&egrave;s ill&eacute;gal aux donn&eacute;es personnelles vous concernant stock&eacute;es sur nos serveurs ou ceux de nos prestataires, ou d'un acc&egrave;s non autoris&eacute; ayant pour cons&eacute;quence la r&eacute;alisation des risques identifi&eacute;s ci-dessus, nous nous engageons &agrave; :</p>
<p>Vous notifier l'incident dans les plus brefs d&eacute;lais ; Examiner les causes de l'incident et vous en informer ; Prendre les mesures n&eacute;cessaires dans la limite du raisonnable afin d'amoindrir les effets n&eacute;gatifs et pr&eacute;judices pouvant r&eacute;sulter dudit incident.</p>
<p class="mb-0 font-weight-bold">Limitation de la responsabilit&eacute;</p>
    <p>En aucun cas les engagements d&eacute;finis au point ci-dessus relatifs &agrave; la notification en cas de faille de s&eacute;curit&eacute; ne peuvent &ecirc;tre assimil&eacute;s &agrave; une quelconque reconnaissance de faute ou de responsabilit&eacute; quant &agrave; la survenance de l'incident en question.</p>

<p class="mt-4 h4">11 - Transfert des donn&eacute;es personnelles &agrave; l'&eacute;tranger</p>
<p class="mb-0 font-weight-bold">Pas de transfert en dehors de la France.</p>
    <p>L'&Eacute;diteur s'engage &agrave; ne pas transf&eacute;rer les donn&eacute;es personnelles de ses Utilisateurs en dehors de la France.</p>

<p class="mt-4 h4">12 - Modification de la politique de confidentialit&eacute;</p>
<p class="mb-0 font-weight-bold">En cas de modification de la pr&eacute;sente Politique de Confidentialit&eacute;, engagement de ne pas baisser le niveau de confidentialit&eacute; de mani&egrave;re substantielle sans l'information pr&eacute;alable des personnes concern&eacute;es</p>
    <p>Nous nous engageons &agrave; vous informer en cas de modification substantielle de la pr&eacute;sente Politique de Confidentialit&eacute;, et &agrave; ne pas baisser le niveau de confidentialit&eacute; de vos donn&eacute;es de mani&egrave;re substantielle sans vous en informer et obtenir votre consentement.</p>

<p class="mt-4 h4">13 - Droit applicable et modalit&eacute;s de recours</p>
<p class="mb-0 font-weight-bold">Application du droit fran&ccedil;ais (l&eacute;gislation CNIL) et comp&eacute;tence des tribunaux</p>
    <p>La pr&eacute;sente Politique de Confidentialit&eacute; et votre utilisation du Site sont r&eacute;gies et interpr&eacute;t&eacute;es conform&eacute;ment aux lois de France, et notamment &agrave; la Loi n&deg; 78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s. Le choix de la loi applicable ne porte pas atteinte &agrave; vos droits en tant que consommateur conform&eacute;ment &agrave; la loi applicable de votre lieu de r&eacute;sidence. Vous et nous acceptons de se soumettre &agrave; la comp&eacute;tence non-exclusive des juridictions fran&ccedil;aises, ce qui signifie que vous pouvez engager une action relative &agrave; la pr&eacute;sente Politique de Confidentialit&eacute; en France ou dans le pays de l'UE dans lequel vous vivez. En cas de litige, les parties chercheront une solution amiable avant toute action judiciaire. En cas d'&eacute;chec de ces tentatives, toutes contestations &agrave; la validit&eacute;, l'interpr&eacute;tation ou l'ex&eacute;cution de la Politique de Confidentialit&eacute; devront &ecirc;tre port&eacute;es m&ecirc;me en cas de pluralit&eacute; des d&eacute;fendeurs ou d'appel en garantie, devant les tribunaux fran&ccedil;ais.</p>

<p class="mt-4 h4">14 - Portabilit&eacute; des donn&eacute;es Portabilit&eacute; des donn&eacute;es</p>
<p class="mb-5">L'&Eacute;diteur s'engage &agrave; vous offrir la possibilit&eacute; de vous faire restituer l'ensemble des donn&eacute;es vous concernant sur simple demande via <a href="mailto:vosdonnees@touspourlesvaccins.gouv.fr?subject=Demande%20de%20restitution%20des%20données&body=Bonjour,%0D%0A%0D%0AJe%20sousigné%20NOM%20PRENOM,%20souhaite%20avoir%20accès%20à%20mes%20données%20appartenant%20au%20compte%20ADRESSE%20EMAIL.%0D%0A%0D%0ACordialment." class="text-primary">vosdonnees@touspourlesvaccins.gouv.fr</a>. L'Utilisateur se voit ainsi garantir une meilleure ma&icirc;trise de ses donn&eacute;es, et garde la possibilit&eacute; de les r&eacute;utiliser. Ces donn&eacute;es devront &ecirc;tre fournies dans un format ouvert et ais&eacute;ment r&eacute;utilisable</p>

{% endblock %}